/* -------------------------------------------------------------------------- */
/* Color palette */
/* -------------------------------------------------------------------------- */

.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFEB3B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.danger-color          { background: #f44336;}

/* -------------------------------------------------------------------------- */
/* Basic setup */
/* -------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

html {
    color: #212121;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/* -------------------------------------------------------------------------- */
/* Reusable components */
/* -------------------------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ------------------ Headings ------------------ */

h1, h2, h3 {
    font-weight: 300;
}

h1 {
    margin-top: 10%;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    margin-bottom: 30px;
    font-size: 180%;
    word-spacing: 2px;
}

h3 {

}

/* ------------------ Paragraphs ------------------ */


/* ------------------ Well ------------------ */

.well {
    border: 1px solid #BDBDBD;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin: 80px auto;
    padding: 40px 20px;
    max-width: 800px;
    text-align: center;
}

.well h2 {
    margin-bottom: 20px;
}

.well .username {
    margin-bottom: 20px;
    font-size: 130%;
}

.well-narrow {
    max-width: 400px;
}

.well-narrow h2 {
    margin-bottom: 20px;
}

.well-narrow .username {
    margin-bottom: 20px;
    font-size: 130%;
}

/* ------------------ Links ------------------ */

a:link,
a:visited {
    text-decoration: none;
    color: #2196F3;
    transition: color 0.2s;
}

a:hover,
a:active {
    color: #1976D2;
}

/* ------------------ Icons ------------------ */
/* ------------------ Forms ------------------ */

.text-input input {
    width: 100%;
    padding: 4px;
}

.form-group {
    margin: 20px 0;
}

/* ------------------ Buttons ------------------ */

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    margin: 0 8px;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s;
}

.btn-full,
.btn-full:link,
.btn-full:visited {
    background-color: #2196F3;
    border: 1px solid #2196F3;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #2196F3;
}

.btn:hover,
.btn:active {
    background-color: #1976D2;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #1976D2;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #1976D2;
}

/* -------------------------------------------------------------------------- */
/* Header */
/* -------------------------------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(5, 59, 101, 0.7), rgba(5, 59, 101, 0.7)), url(background.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    padding: 100px 0;
}

.header-text {
    padding: 0 10%;
    color: #fff;
}

header .btn {
    margin-bottom: 20px;
}

/* ------------------ Nav ------------------ */

.main-nav ul {
    list-style-type: none;
    overflow: auto;
    background-color: #323232;

}

.main-nav li {
    float: right;
    padding: 12px 12px 8px 12px;
}

.main-nav .logo {
    float: left;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding-bottom: 6px;
    display: block;
    color: #fff;
    text-align: center;
    border-bottom: 2px solid #323232;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #2196F3;
}

/* -------------------------------------------------------------------------- */
/* Poll list */
/* -------------------------------------------------------------------------- */

.poll-list {
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    background-color: #fff;
    margin: 4px 0;
    padding: 15px 0;
}

.poll-list p {
    font-size: 130%;
    display: inline-block;
}

.poll-list input {
    position: absolute;
    margin-left: 40px;
    margin-top: 10px;
}

.poll-list .btn {
    position: absolute;
    margin-left: 10px;
    margin-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
/* Poll chart */
/* -------------------------------------------------------------------------- */

.poll-chart {
    margin-bottom: 20px;
}