/* -------------------------------------------------------------------------- */
/* Color palette */
/* -------------------------------------------------------------------------- */

.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFEB3B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.danger-color          { background: #f44336;}

/* -------------------------------------------------------------------------- */
/* Basic setup */
/* -------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #212121;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* -------------------------------------------------------------------------- */
/* Reusable components */
/* -------------------------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ------------------ Headings ------------------ */

/* ------------------ Paragraphs ------------------ */

/* ------------------ Icons ------------------ */

/* ------------------ Buttons ------------------ */

/* -------------------------------------------------------------------------- */
/* Header */
/* -------------------------------------------------------------------------- */


/* ------------------ Nav ------------------ */

.main-nav {
    letter-spacing: 1px;
}

.main-nav ul {
    list-style-type: none;
    overflow: auto;
    background-color: #323232;

}

.main-nav li {
    float: right;
    padding: 12px 12px 8px 12px;
}

.main-nav .logo {
    float: left;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding-bottom: 6px;
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid #323232;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #2196F3;
}