<div class="well">
    <h2>New Poll</h2>
    <div class="text-input">
        <p>Enter a question to ask</p>
        <div class="form-group text-input">
            <input class="form-control" type="text" ng-model="$ctrl.poll.name">
        </div>
    </div>
    <div class="text-input">
        <p>Enter at least two possible responses</p>
        <div ng-repeat="option in $ctrl.poll.options">
            <div class="form-group text-input">
                <input class="form-control" type="text" ng-model="option.name">
            </div>
        </div>
    </div>
    <div class="btn-group">
        <button class="btn btn-full" ng-click="$ctrl.addOption()">Add Option</button>
        <button class="btn btn-success" ng-click="$ctrl.createPoll()">Create Poll</button>
    </div>
</div>
