<div class="container">
    <div class="row col-lg-6 col-lg-offset-3 text-center">
        <h1>Login</h1>
        <div class="well">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="userame" ng-model="$ctrl.username">
            </div>
            <div class="form-group">
                <input class="form-control input-group" type="password" placeholder="password" ng-model="$ctrl.password">
            </div>
            <div class="form-group">
                <button class="btn btn-success" ng-click="$ctrl.createPoll()">Login</button>
                <button class="btn btn-primary" ng-click="$ctrl.addOption()">Signup</button>
            </div>
        </div>
    </div>
</div>
